<!DOCTYPE html>
<html lang="en" ng-app="GroceryApp">
<head>
    <meta charset="UTF-8">
    <title>Buy Your Groceries Here!</title>

    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
</head>
<body ng-controller = "GroceryCtrl as ctrl">

<div class="container">

    <div class="header">
        <h1>Buy Your Groceries Here!</h1>
    </div>

    <form name="groceryForm" novalidate>
        <!--<div class="form-group">-->
            <!--<input type="text" name="nameOrBrand" class="form-control" ng-model="regCtrl.regParticular.name" required>-->
        <!--</div>-->

        <tr>
            <td>
                {{ ctrl.result.dept_no }}
            </td>
        </tr>

    </form>

</div>



</body>

<script src="/jquery/dist/jquery.js"></script>
<script src="/bootstrap/dist/js/bootstrap.js"></script>
<script src="/angular/angular.js"></script>
<script src="/controller.js"></script>
<script src="/index.js"></script>
<script src="/route.js"></script>
<script src="/service.js"></script>
</html>